hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* Post navigation links */
.post_navi {
  display: flex;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

/* Custom styles for midnight blue background */
body {
    background-color: #5b5be7; 
    color: #ffffff; /* White text for contrast */
}

a {
    color: #1e90ff; /* Dodger Blue for links */
}

.post-title, .page-title {
    color: #dcdcdc; /* Ensure titles are readable */
}

.post-content, .page-content {
    color: #dcdcdc; /* Light gray for content text */
}

/* Syntax highlighting styles */
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #2e3b4e; /* Darker background for code blocks */
    color: #dcdcdc; /* Light gray text for code */
}

.hljs-comment {
    color: #dcdcdc;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
    color: #ff6347; /* Tomato color for keywords */
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: #ffa07a; /* Light Salmon color for strings and numbers */
}

.hljs-title,
.hljs-section {
    color: #ffa07a; /* Light Salmon color for titles and sections */
    font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: #bc8f8f; /* Rosy Brown color for regex and symbols */
}

.hljs-literal {
    color: #98fb98; /* Pale Green color for literals */
}

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: #7fff00; /* Chartreuse color for built-ins and additions */
}

.hljs-meta {
    color: #00ced1; /* Dark Turquoise color for meta */
}

.hljs-meta-string {
    color: #20b2aa; /* Light Sea Green color for meta strings */
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}